.auth-user-info {
    display: flex;
    align-items: center;
    gap: 20px;
    color: lightskyblue;
    font-weight: bold;

    .user-photo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightyellow;
        width: 70px;
        height: 70px;
        border-radius: 50%;

        img {
            width: 90%;
        }
    }
}