.auth-form {
    .inputs-wrapper {
        margin-bottom: 20px;

        label {
            display: block;

            p {
                display: inline-block;
                margin-right: 10px;
            }
            .input-error-message {
                color: firebrick;
            }
            input {
                display: block;
            }
        }
        .auth-error-message {
            color: firebrick;
        }
    }

    .select-label {
        display: block;
        margin-bottom: 20px;
    }
}